<form class="form"  [formGroup]="storageForm" (ngSubmit)="saveStorageForm()">
    <div class="row">
    <div class="col-6 mt-2">
    <input type="text" formControlName="storageType" class="form-control" placeholder="storageType" name="storageType" >
    </div>
    <div class="col-6 mt-2">
    <input type="text" formControlName="storageAccessKey" class="form-control "  placeholder="storageAccessKey" name="storageAccessKey">
    </div>
    </div>
    <div class="row">
        <div class="col-6" *ngIf="storageForm.controls.storageType.touched && storageForm.controls.storageType.invalid">
            <h6 *ngIf="storageForm.controls.storageType.errors.required">storageType is required</h6>
            <h6 *ngIf="storageForm.controls.storageType.errors.minlength">minimum char 3 is required</h6>
       </div>
    </div>
    <div class="row">
     <div class="col-6 mt-2">
    <input type="text" formControlName="storageSecretKey" class="form-control " placeholder="storageSecretKey" name="storageSecretKey">
    </div>
     <div class="col-6 mt-2">
    <input type="text" formControlName="storageBucketName" class="form-control " placeholder="storageBucketName" name="storageBucketName">
    </div>
    </div>
    <div class="row">
     <div class="col-6 mt-2">
    <input type="text" formControlName="storageRegion" class="form-control " placeholder="storageRegion" name="storageRegion">
    </div>
    </div>
    <div class="row">
     <div class="col mt-2">
    <button class="btn btn-primary">Save</button>
    </div>
    </div>
</form>
