<form class="form row" #movieform=ngForm (ngSubmit)="submit(movieform)">
  <div class="col-4 m-2">
   <input type="text" placeholder="MovieName" class="form-control" name="moviename" ngModel #moviename="ngModel"  >
  </div>
  <div class="col-4 m-2">
    <input type="text" placeholder="Actor" class="form-control" name="actor" ngModel #actor="ngModel">
   </div>
   <div class="col-4 m-2">
    <input type="text" placeholder="Actress" class="form-control" name="actress" ngModel #actress="ngModel">
   </div>
   <div class="col-4 m-2">
    <input type="number" placeholder="MovieRating" class="form-control" name="movierating" ngModel #movierating="ngModel" >
   </div>
   <div class="col m-2">
<button class="btn btn-primary">save</button>
</div>
</form>
